.card{
    background-color: rgb(219, 10, 91);
}
.address{
background-color: rgb(154, 18, 179);
}
.mail{
    background-color: rgb(37, 116, 169);
}


.titleIdentity{
    background-color: rgb(37, 116, 169);
}
.titleAddress{
    background-color: rgb(154, 18, 179);
}
.card {
    background-color: rgb(219, 10, 91);
}